<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Pis:</strong>
    <%= employee.pis %>
  </p>

  <p>
    <strong>Admission date:</strong>
    <%= employee.admission_date %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= employee.job %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= employee.branch_id %>
  </p>

</div>
