<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= customer.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= customer.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= customer.number %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= customer.cep %>
  </p>

</div>
