<div id="<%= dom_id order %>">
  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

</div>
