<p style="color: green"><%= notice %></p>

<h1>Storages</h1>
<div class="w-full max-w-screen-md mx-auto">
  <table id="storages" class="w-full table-auto rounded-sm">
    <thead>
      <tr>
        <th
          class="px-4 py-4 text-left bg-blue-900 text-white text-sm font-medium"
        >
          Product
        </th>
        <th
          class="px-4 py-4 text-left bg-blue-900 text-white text-sm font-medium"
        >
          Branch
        </th>
        <th
          class="px-4 py-4 text-left bg-blue-900 text-white text-sm font-medium"
        >
          Quantity
        </th>
        <th
          class="px-4 py-4 text-left bg-blue-900 text-white text-sm font-medium"
        >
          <%= link_to "New", new_storage_path, class: "inline-block rounded-sm font-medium border border-solid cursor-pointer text-center text-xs py-1 px-2 text-blue-800 bg-white border-white hover:bg-blue-200 hover:border-blue-200" %>
            
        </th>
      </tr>
    </thead>
    <tbody>
      <% @storages.each do |storage| %>
        <tr class="border-gray-300">
          <td class="px-4 py-8 border-t border-b border-gray-300 text-sm">
            <%= storage.product.name %>
          </td>
          <td class="px-4 py-8 border-t border-b border-gray-300 text-sm">
            <%= storage.branch.name %>
          </td>
          <td class="px-4 py-8 border-t border-b border-gray-300 text-sm">
            <%= storage.quantity %>
          </td>
          <td class="px-4 py-8 border-t border-b border-gray-300 text-sm">
            <%= link_to "Show", storage, class: "inline-block rounded-sm font-medium border border-solid cursor-pointer text-center text-xs py-1 px-2 text-white bg-blue-800 border-blue-800 hover:bg-blue-600 hover:border-blue-600" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
